/* @import:unpkg.com/open-props
@import:unpkg.com/open-props/normalize.min.css */

body {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 1000vh;
    scroll-padding-bottom:2em;
    background-attachment:scroll;
}

#bg-Image{
 width:100%;
 height:1000px;
 background-position:center;
 background-size:cover;
}

html {
  height : 100%;
  overflow:hidden;
}

h1 {
    position:absolute;
    text-shadow:4px 4px #AAAAAA;
    background-color: #cd8dc3;
    font-size: 90px;
    line-height:5%;
    height: 10px;
    border: 2px;
    left:630px;
    border-radius:12px;
    margin-left:100px;
    top:1px;
    font-style:italic
      
}

pre.sibling-element {
    position : absolute;
    font-weight:bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color:rgb(28, 25, 25);
    top:100px;
    left:755px;
    font-style: italic;
}
.brand{
  font-size:larger;
  color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

#square {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  position:absolute;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 25px;
  font-size:.7rem;
  width:1960px;
  padding:5px 25px 25px;
  border: 2px;
  margin-left:30px;
  top:250px;
  font-weight:bolder;
  left:70px;
  visibility:visible;
 }

.card{
  background:#eed0ef url('http://wizzley.com/static/img/bg/texture8.png');
  margin:2%;
  width:250px;
  border-radius:25px;
  text-align:center;
  height:565px;
  top:100px;
 }

.purseImage{
  width:200px;
  height:200px;
}

.list-purse {
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    top: 30px;
    left:-50px;
    font-size:16px;
    width:35px;
    color:black;
    font-weight:bolder;
  }
input[type=text], submit  {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */

#addForm-Container {
  position:absolute;
  border-radius: 5px;
  background-color: #d1e7e4;
  background-color: #cd8dc3;
  padding: 20px;
  border-radius:25px;
  right: 200px;
  top:-75px;
  visibility: hidden;
}
#editForm-Container {
  position:absolute;
  border-radius: 5px;
  background-color: #d1e7e4;
  background-color: #cd8dc3;
  padding: 20px;
  border-radius:25px;
  left: 200px;
  top:-60px;
  visibility: hidden;
}

#submit, #price{
  width:80px
}

#jId, #add-jId{
  width:40px;
  visibility:hidden
}

#brand,#style,#size,#img,#condition  {
  font-style:italic;
}

#displayDesc {
  position:absolute;
  background-color: #cd8dc3;
  color:black;
  width:500px;
  height:200px;
  left:520px;
  padding:5px 25px 25px;
  border: 2px;
  margin-left:30px;
  top:200px;
  font-weight:bolder;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  visibility:hidden;
 }

#jId{
  visibility:hidden;
}

#addPurseButn{
  background-color: #d3d7de;
  position: relative;
  top: -807px;
  left:900px;
  font-weight:bold;
}

#closeButn{
  position: absolute;
  background-color: #d3d7de;
  top: 370px;
  left: 990px;
  visibility:hidden;
}
.avail, .edit, .delete, .seller{
  background-color: #d3d7de;
}
.avail:disabled {
  background: #999;
  color: #343131;
  cursor: not-allowed;
}

#admin{
  background-color: #d3d7de;
  position: absolute;
  top: 100px;
  left:10px;
  font-weight:bold;
}

#text{
  position:absolute;
  top:230px;
  left:770px;
  font-weight: bold;
  font-size:large;
}

#text::before{
  content: "***";
  color:rgb(196, 59, 171);
}

#text::after{
  content:"***";
  color:rgb(196, 59, 171);
}

